@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root {
    --tamanho-fonte-cidade: 40px;
    --cor-primaria: #0a7cff;
    --cor-secundaria: #007cc2;
    --cor-icon: #0a7cff;
    --cor-branca: #f3f3f4;
    --cor-cinza: rgb(190, 190, 190);
    --cor-preta: rgb(27, 27, 27);
    --font-estilo: 'Roboto', sans-serif;
}

body{
    font-family: var(--font-estilo);
    background-color: var(--cor-branca);
    color: var(--cor-preta);
}

/* menu-hamburguer */

.menu-mobile-icone button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.menu-mobile-icone {
    display: none;
}

.menu-mobile{
    display: none;
}

/* menu */
.navegador{
    background-color: var(--cor-secundaria);
}

.menu-lista{
    display: flex;
    flex-direction: row;
    padding: 20px 0px;
}

.link{
    color: var(--cor-branca);
    padding: 20px;
    text-decoration: none;
}

.link:hover{
    color: var(--cor-cinza);
}

/* principal */
.principal{
    display: flex;
    background-image: url("sala-do-empreendedor.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 3rem 15rem;
    filter: opacity(0.9);
}

.titulo-principal{
    font-size: 4.5rem;
    text-align: center;
    align-items: center;
    margin: auto auto;
    font-weight: 100;
    color: var(--cor-branca);
    text-shadow: var(--cor-preta) 2px 3px 2px;
}

.servico-digital{
    height: 300px;
    display:inline-block;
    width: 100%;
}

#servico-digital, #orientacao, #licitacao{
    font-size: 3rem;
    text-align: center;
    padding-top: 4rem;
    color: var(--cor-preta);
    font-weight: 300;
    height: 15rem;
}

/* quadros */

.quadros-servico-digital{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 0 10rem 10rem 10rem;
}

.quadros img{
    width: 90%;
    height: 90%;
    object-fit: cover;
}

.quadros img:hover{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* orientacao */

#orientacao{
    height: 11rem;
    margin: 0px;
    padding-top: 0px;
}

.menu-orientacao{
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.lista-orientacao{
    border: var(--cor-secundaria) 2px solid;
    border-radius: 25px;
    width: 25%;
    justify-content: center;
    padding: 20px 50px;
    margin: 1rem 0rem;
}

.link-orientacao{
    color: var(--cor-preta);
    text-decoration: none;
}

.lista-orientacao:hover{
    border:  var(--cor-branca) solid;
    background-color: var(--cor-secundaria);
    color: var(--cor-branca);
}

.link-orientacao:hover{
    color: var(--cor-branca);
}

/* licitações */

.quadros-licitacao{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 0 10rem 10rem 10rem;
}

/* responsividade */

@media screen and (max-width: 800px){ 

    /* mobile */

    /* menu */

    .menu-navegador{
        display: none;
    }

    .menu-mobile-icone{
        display: block;
    }

    .menu-lista-mobile{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .item-navegador-mobile{
        display: block;
        padding-bottom: 1.2rem;
    }

    .abrir{
        display: block;
    }

    .link{
        padding: 2px;
        width: 100%;
    }

    /* principal */
    .principal{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 3rem 0rem;
    }

    #titulo-principal{
        font-size: 3rem;
        text-align: center;
        align-items: center;
        height: 100px;
        justify-content: center;
        font-weight: 300;
    }

    .principal img{
        display: none;
    }

    /* ao longo */

    #orientacao{
        margin-top: 4rem;
        height: 6rem;
    }

    /* quadros */

    .quadros-servico-digital{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        margin: 0 1rem 1rem 1rem;
    }

    .quadros-licitacao{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        margin: 0rem 0rem 1rem 1rem;
    }
  }